.jumbotron {
    background-image: url("../images/landscape.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.title {
    font-weight: 700;
}

body{
    background-color: rgb(206, 255, 255);
}